HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Local Config (절대 커밋 금지) ###
.env
.env.*
src/main/resources/application-local.yml
src/main/resources/application-local.yaml
src/main/resources/application-secret.yml
src/test/resources/application-test.yml
*.log

### AWS 자격증명 (절대 커밋 금지) ###
# Access Key / Secret Key를 파일로 관리하는 경우 대비
*.pem
*.p12
*.jks
aws-credentials*
credentials
~/.aws/
